extends ../layout

block menu
  active = "home"

block content
  .hero-unit
    h1 Administration Control
    p This is the basic application administration control, where you can define the basic configurations of the application.
    p
      a.btn.btn-primary.btn-large(href="/user") Users
